/* src/components/Register/RegisterRedirect.css */
.register-redirect {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
    color: #fff;
  }
  
  .register-redirect a {
    color: #fff;
    text-decoration: underline;
  }
  